
<!-- Hero Section -->
<section class="hero__section">
    <div class="hero-slider">

        <% images.forEach(image => { %>
            <div class="slide-item">
                <a class="fresco" href="img/hero-slider/5.jpg" data-fresco-group="projects">
                    <img src="<%= image.url %>" alt="">
                </a>	
            </div>
        <% });%>

    </div>

    <div class="hero-text-slider">
        <% images.forEach(image => { %>
        <div class="text-item">
            <p class="bg-dark px-3 py-3 text-white" style="width: fit-content; margin: auto; border-radius: 10px; "><%= image.description %></p>
        </div>
        <% });%>
    </div>

    <div class="hero-text-slider">
        <% images.forEach(image => { %>
        <div class="text-item">
          <p class="p-2 text-danger" style="width: fit-content; margin: auto; cursor: pointer;" title="delete image">
            <span style="font-weight: bolder; font-size:xx-large" data-key="<%= image.key %>" onclick="deleteImage(event)">X</span>
          </p>
        </div>
        <% }); %>
      </div>

</section>
<!-- Hero Section end -->

<div id="upload-btn-div">
    
</div>