<footer class="footer__section">
    <div class="container">
        <div class="footer__copyright__text">
            <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> For Labs | Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://github.com/nullstead" target="_blank">@kponyojdk</a></p>
        </div>
    </div>
</footer>