<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-3 order-2 order-sm-1">
                <div class="header__social">
                    <a href="https://www.facebook.com/kponyojdk"><i class="fa fa-facebook"></i></a>
                    <a href="https://x.com/kponyojdk"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/nullstead/"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-sm-4 col-md-6 order-1  order-md-2 text-center">
                <a href="./index.html" class="site-logo">
                    <img src="img/logo.png" alt="">
                </a>
            </div>
            <div class="col-sm-4 col-md-3 order-3 order-sm-3">
                <div class="header__switches">
                    <a href="https://github.com/nullstead"  ><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-linkedin" title="Have an issue with my LinkedIn account :)"></i></a>
                </div>
            </div>
        </div>

    </div>
</header>